html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
a:visited{
	color:inherit;
	text-decoration: none;
}
#logo{
	font-size: 1.2em;
}
.no-margin{
	margin: 0px;
}
.be-red{
	background-color: #C02731;
}
.white{
	color: #F5F2F2;
}
.large-padding{
	padding: 10px 7px;
}
.field{
	margin-top: 1em;
}
.top-space{
	margin-top: 1em;
}
.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}
